<div class="large-12 medium-12 small-12 columns">
  <h1>My Booking</h1>
  <table>
    <thead>
      <tr>
        <th>Equipment name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Status</th>
        <th>Action</th>
      </tr>

      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.equipment.name %></td>
            <td><%= booking.try(:start_time).strftime('%m/%d/%Y') unless booking.start_time.nil? %></td>
            <td><%= booking.try(:end_time).strftime('%m/%d/%Y') unless booking.end_time.nil? %></td>
            <td><%= booking.status %></td>
            <td>
              <% if booking.start_time.nil? %>
                <%= link_to 'Update', edit_booking_path(booking) %>
                <%#= link_to 'Cancel booking', cancel_booking_path(booking) %>
              <% else %>
                <%= link_to 'View', booking_path(booking) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
  
</div>
