<!DOCTYPE html>
<html>
  <head>
    <title>FkiBookable</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/navi' %>
    <div class="row">
      <%= render 'shared/error_message' %>
      <%= yield %>
    </div>
  </body>
</html>
